head 
*{
    margin:0;
        padding:0;
        box-sizing:border-box;
}
body{
    font-family:'Noto Sans', sans-serif;
}
section::after {
    content: "";
    display: table;
    clear: both;
}
header{
margin: 40px 0;
}
h1 {
    text-align:center;
    color:#04AA6D;
    font-size:32px;
}